#!/usr/bin/env zsh

# ---------------------------------------------------------------------------------------

# I need colors !!!

alias ls='ls -G'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ------------------------------------------------------------------------------

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cd..="cd .."

# ------------------------------------------------------------------------------

alias c='clear'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias l="nocorrect ls -lFh"
alias lsa="nocorrect ls -lAh"
alias lssh='egrep "Host\ .*" ~/.ssh/config | cut -f2 -d " "'
alias duh='du -hs'
alias tree="find . | sed 's/[^/]*\//|   /g;s/| *\([^| ]\)/+--- \1/'"
alias :q="exit"
alias q="exit"
alias rm="rm -rf --"

# ------------------------------------------------------------------------------

# Open with no arguments (opens the current directory),
# otherwise opens the given argument.

o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi
}

# ------------------------------------------------------------------------------

# Clear DNS cache.

alias clear-dns-cache="sudo dscacheutil -flushcache; \
						sudo killall -HUP mDNSResponder"

# ------------------------------------------------------------------------------

# Edit the hosts.

alias edit-hosts="sudo code /etc/hosts"

# ------------------------------------------------------------------------------

# Hide/Show hidden files in Finder.

alias hide-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool false \
							&& killall Finder"

alias show-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool true \
							&& killall Finder"

# ------------------------------------------------------------------------------

# Get local IP.

alias local-ip="ipconfig getifaddr en1"

# ------------------------------------------------------------------------------

# Merge PDF files
# Usage: `merge-pdf -o output.pdf input{1,2,3}.pdf`

alias merge-pdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# ------------------------------------------------------------------------------

# Update applications and CLTs.

alias update="sudo softwareupdate --install --all \
				&& brew update \
				&& brew upgrade \
				&& brew cleanup \
				&& npm install -g npm \
				&& npm update -g"
